<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tak for din forespørgsel</title>
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body class="modern-fog-bg">
<div class="modern-center-card">
    <h1>Tak for din forespørgsel!</h1>
    <p>Vi har modtaget din forespørgsel på carporten.</p>
    <p>Du vil snart modtage en e-mail med yderligere information og bekræftelse.</p>
    <a th:href="@{/}" class="modern-btn">Tilbage til forsiden</a>
</div>
</body>
</html>
