<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Forespørgsel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<h1>Designet carport</h1>

<p>Du har valgt en carport med disse mål:</p>
<ul>
    <li>Længde: <span th:text="${length}">540</span> cm</li>
    <li>Bredde: <span th:text="${width}">360</span> cm</li>
</ul>

<p>Her er en skitse over carporten fra oven:</p>
<div class="carport-svg-topview">
    <div th:utext="${svg}"></div>
</div>

<form th:action="@{/forespoergsel}" method="post">
    <button type="submit">Indsend forespørgsel</button>
</form>

</body>
</html>
